*{
  box-sizing: border-box;
  text-decoration:none;
  padding:none;
  margin:none;
  border:none;
  outline: none;

}
.main{
  border:2px solid red;
 
  padding:4rem;
}

.heading{
  text-align: center;
  font-size:2rem;
  text-decoration:underline;
  color:blue
}

.items{
  border:2px solid red;
  display: flex;
  flex-direction:column;
  gap: 1.5rem;

}
.items .a{
  border:2px solid red;
 
 padding:0.5rem 1rem;
  font-size: 1.2rem;
  color:rgba(128, 128, 128, 0.754);



  background-color: rgba(128, 128, 128, 0.173);
}
.items .a input{
  background-color:  rgba(128, 128, 128, 0);
  height:3rem;
 
  margin-left:1rem;
  font-size: 1.1rem;
  border:none;
  outline: none;

}
.main .pswd{
  margin:1.2rem;
  font-size:1.2rem;
 }
 .pswd,.buttons{
  text-align: center;

 }

.main .pswd span{
  padding:0rem 1rem;
  color:blue
}
.main .buttons input{
  background-color:darkblue;
  margin:0rem 1rem;
  border-radius: 20px;
  font-size:1.3rem;
  color:white;
  padding:0.5rem 1rem;
}
/* sectioion1*/
.section1{
  display: flex;
  border-radius:20px;
  flex-direction:column;
  background-color:rgba(0, 0, 255, 0.706);
  color:white;
  gap:1rem;
  padding-left:3rem;
  margin:1rem;
  width:16rem;


  
}
.section1 .menu div>*{
  padding-right:1.6rem;
  border:2px solid red}
.section1 .menu div>*{
  font-size:1.3rem;
  font-weight:500;}

.section1 .menu div{
  margin-top:2.7rem
}
.section1 .footer{
  margin-top:6.5rem;
}
.component1{
  display: flex;
  gap:2rem;
}
.section2{
flex-grow:1;
flex-shrink:1;
}
.section2 .nav{
  display:flex;
  align-items:center;
  justify-content:space-between;
 
}
.section2 .boxes{
  margin-top: 2rem;;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
  gap:1.5rem;
}
.section2 .nav div{
  margin-right:5%;
  position:relative;

  box-shadow: 0rem 0rem 0.3rem bisque;
  font-size: 1.1rem;
 }
 .nav div input{
  font-size: 1.1rem;
  font-weight: 400px;
  padding:0.3rem;
 }
 .nav #search{
  position:absolute;
  right:10px
  
 }
.section2 .boxes .box{
  box-shadow:0.1rem  0.1rem 0.2rem rgba(128, 128, 128, 0.518);
  border-radius:20px;
  text-align:center;
  padding-top:0.5rem;
  outline: 0.2px solid rgba(128, 128, 128, 0.406);
  
}
.section2 .boxes .box .icon{
  border-radius: 50%;
  width:1.5rem;
  height:1.5rem;
  padding:0.5rem;
  background-color: lightsalmon;
  color:white;
 
}
.box>*{
  padding-top:0.5rem;
}
.section2 .boxes .box h2{
  font-size:1.45rem;
}
.section2 .boxes .box h2 span{
  margin-left:2.5rem;
  background:lightgreen;
  color:green;
  border-radius:20px;
}